# Backend API URL
VITE_API_URL=http://localhost:8000/api

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBwbeCOFStiBSAt4wd8CbTRx3LNdqT9BOg
VITE_FIREBASE_AUTH_DOMAIN=agriino.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=agriino
VITE_FIREBASE_STORAGE_BUCKET=agriino.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=671148209879
VITE_FIREBASE_APP_ID=1:671148209879:web:fa212d66124928864ba292

# MapTiler API Key (for production map)
VITE_MAPTILER_API_KEY=bedLj81C0j3GdguncpGN